.header{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPRAdBCbJ6iQ1o7UN1MrGqmDCBdufk21MB_w&usqp=CAU);
  background-position: center center;
  object-fit: fill;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 150px;
  bottom: 100px;
  margin-top: 50px;
  margin-left: 40px;
}

.logo img:hover{
  cursor: pointer;
}

.logo img{
  width: 100%;
}